body{
    background-color: #7c7979;
    font-family: cursive;
    width: 100vh;

    
    display: flexbox;
    justify-content: center;
    align-items: center;
}

div{
    background-color: #7c7979;
    color: rgb(35, 35, 35);
    width: 5vh;
}

p{
    color: rgb(35, 35, 35);
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    -webkit-overflow-clip-box: padding-box;
}
