body{
    background-image: url(https://th.bing.com/th/id/OIP.30WZerav-f_yp03RP5fhoQHaEK?w=308&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7);
    background-size: 2000px;
}
p {
    color: cornflowerblue;
    font-family: cursive;
}
button{
    background-color: cadetblue;
    color: chartreuse;
    font-family: cursive;
    border-radius: ;
}
::placeholder{
    font-weight: bold;
    font-style: italic;
}

div{
    height: 25em;
}