#parent{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);
    gap: 5px;
    border: 2px solid black;

    grid-template-areas:
    "a1   a1   a1   a1 "
    "a1   a1   a1   a1 "
    "a2   a2   a3 a3   "
    "a2   a2   a3   a3 "
    "a2   a2   a4  a5  "
    "a2   a2   a4  a5  "
}
