#parent{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);
    gap: 5px;
    border: 2px solid black;

    grid-template-areas:
    " a1  a2  a3"
    " a1  a4  a5"
    " a6  a7  a5"
    " a8  a9  a9"
    " a8  a9  a9"
}


/* task 2*/

#parent{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);
    gap: 5px;
    border: 2px solid black;

    grid-template-areas:
    " a1  a1  a1  a1  a1  a1  a2  a2  a2  a2"
    " a1  a1  a1  a1  a1  a1  a2  a2  a2  a2"
    " a3  a3  a3  a3  a4  a4  a4  a4  a4  a4"
    " a3  a3  a3  a3  a4  a4  a4  a4  a4  a4"
}

/* task 3*/

#parent{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);
    gap: 10px;
    border: 2px solid black;

    grid-template-areas:
    " a1  a1  a2 a2 a2 a2 a3 a3"
    " a1  a1  a2 a2 a2 a2 a3 a3"
    " a1  a1  a4 a4 a5 a5 a6 a6"
    " a1  a1  a4 a4 a5 a5 a6 a6"
    " a1  a1  a7 a7 a8 a8 a6 a6"
    " a1  a1  a7 a7 a8 a8 a6 a6"
}