a:link {
    color: aqua;
    text-decoration: none;
    font-family: cursive;

    padding-left: 0;
    padding-top: 50px;
    padding-right: 100px;
    padding-bottom: 0;
}


a:link {
    color: aqua;
    text-decoration: none;
    font-family: cursive;

    padding-left: 0;
    padding-top: 50px;
    padding-right: 100px;
    padding-bottom: 0;
}


a:link {
    color: aqua;
    text-decoration: none;
    font-family: cursive;

    padding-left: 0;
    padding-top: 50px;
    padding-right: 100px;
    padding-bottom: 0;
}

a:link {
    color: aqua;
    text-decoration: none;
    font-family: cursive;

    padding-left: 0;
    padding-top: 50px;
    padding-right: 100px;
    padding-bottom: 0;
}

div:link {
    color: aqua;
    text-decoration: none;
    font-family: cursive;

    padding-left: 0;
    padding-top: 50px;
    padding-right: 100px;
    padding-bottom: 0;
}

/* 2 */


a:visited {
    color: aqua;
    text-decoration: none;
    font-family: cursive;

    margin-top: 50px;
    margin-bottom: 0;
    margin-right: 100px;
    margin-left: 0;
}


a:visited {
    color: aqua;
    text-decoration: none;
    font-family: cursive;

    margin-top: 50px;
    margin-bottom: 0;
    margin-right: 100px;
    margin-left: 0;
}


a:visited {
    color: aqua;
    text-decoration: none;
    font-family: cursive;

    margin-top: 50px;
    margin-bottom: 0;
    margin-right: 100px;
    margin-left: 0;
}

a:visited {
    color: aqua;
    text-decoration: none;
    font-family: cursive;

    margin-top: 50px;
    margin-bottom: 0;
    margin-right: 100px;
    margin-left: 0;
}

div:visited {
    color: aqua;
    text-decoration: none;
    font-family: cursive;

    margin-top: 50px;
    margin-bottom: 0;
    margin-right: 100px;
    margin-left: 0;
}


/* 3 */



a:hover {
    color: aqua;
    text-decoration: none;
    font-family: cursive;
}


a:hover {
    color: aqua;
    text-decoration: none;
    font-family: cursive;
}


a:hover{
    color: aqua;
    text-decoration: none;
    font-family: cursive;
}

a:hover{
    color: aqua;
    text-decoration: none;
    font-family: cursive;
}

div:hover {
    color: aqua;
    text-decoration: none;
    font-family: cursive;
}
