.a1{
    color: cornflowerblue;
    font-size: 25px;
}


.a2{
    color: cornflowerblue;
    font-size: 25px;
}

.a3{
    color: cornflowerblue;
    font-size: 25px;
}


.a4{
    color: cornflowerblue;
    font-size: 25px;
}


